body {
    background: #38014a;
background: linear-gradient(180deg, rgba(56, 1, 74, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

h1 {
    position:fixed;
    color: rgb(226, 226, 226);
    font-size: 40px;
    right: 840px;
    bottom: 700px
}

h3 {
    position:fixed;
    color: rgb(255, 255, 255);
    font-size: 20px;
    right: 894px;
    bottom: 680px
}


.input {
    position: fixed;
    color:rgb(39, 0, 5);
    background-color: rgb(255, 255, 255);
    padding: 20px,40px;
    width: 130px;
    height: 23px;
    border-radius: 5px;
    right: 990px;
    bottom: 600px
}

.Button {
    position: fixed;
    padding: 5px 19px;
    width: 100px;
    border-radius: 5px;
    right: 875px;
    bottom: 600px;
}

.frame {
    position: fixed;
    right: 0px;
    bottom: 370px;
    background-color: rgba(0, 0, 0, 0.267);
    width: 1900px;
    padding: 100px;
}

.text {
    position: fixed;
    color: rgb(255, 255, 255);
    right: 930px;
    bottom: 500px;
}